body {
    margin: 0;
    font-family: Audiowide;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 1px solid darkgray;
}

h4 {
    margin: 0;
    padding: 10px;
}

.panel {
    background-color: black;
    color: white;
    text-align: center;
}

p {
    margin: 0;
    padding: 10px;
}

span {
    background-color: white;
    color: tomato;
    padding: 0px 2px;
}