* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #DDDDDD;
}

.header {
    background-color: white;
    text-align: center;
}

.header h1 {
    margin: 34px 0;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow: hidden;
}

.nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.nav ul li a:hover {
    background-color: #DDDDDD;
    color: black;
}

#last-nav {
    float: right;
}

.row {
    overflow: auto;
}

.column {
    float: left;
}

.left {
    width: 67.5%;
    margin-right: 2.5%;
}

.right {
    width: 30%;
}

.card {
    background-color: white;
}

.card-title {
    text-align: center;
}

.card-desc {
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: white;
}

@media (max-width: 600px) {
    .nav {
    position: relative;
    }

    .nav ul li, #last-nav {
        float: none;
    }

    .column {
        width: 100%;
    }
}